body {
  background-color: #f9f9f9;
  font-family: sans-serif;
  color: #333;
}

h1, h2, h3 {
  color: #555;
}

section {
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

a {
  color: #0077cc;
}

.personal-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.personal-info img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.personal-info h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.personal-info p {
  font-size: 16px;
  margin-bottom: 0;
}